<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Books to give away</title>
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/bundle.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Itim&family=Roboto:ital,wght@0,500&display=swap" rel="stylesheet">
</head>
<body>
    <div th:insert="~{parts/header :: header}"></div>
    <div class="container">
        <h2> Crea un bundle di libri</h2>
        <form th:action="@{/bundle}" method="post" th:object="${newBundle}">
            <div>
                <input type="text" name="nome" placeholder="Nome del bundle">
                <input type="submit" value="Salva">
            </div>
            
            <ul>
                <li class="card" th:each="book : ${libri}">
                    <input type="checkbox" name="selezionato" th:value="${book.id}">
                    <p th:text="${book.autore}"> Autore </p>
                    <p th:text="${book.titolo}"> Titolo </p>
                    <p th:text="${book.edizione}"> Edizione </p>
                    <p th:text="${book.condizioni}"> Condizioni </p>
                </li>
            </ul>
        </form>
    </div>
    <div th:insert="~{parts/footer :: footer}"></div>
</body>
</html>