<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Books to give away</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/stampa.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Itim&family=Roboto:ital,wght@0,500&display=swap" rel="stylesheet">
</head>
<body>
    <div th:insert="~{parts/header :: header}"></div>
    <form class="mg-2" action="/stampa" method="get">
        <label for="a">Autore</label><input type="checkbox" name="filter" value="a" id="a">
        <label for="t">Titolo</label><input type="checkbox" name="filter" value="t" id="t">
        <label for="e">Edizione</label><input type="checkbox" name="filter" value="e" id="e">
        <label for="c">Condizioni</label><input type="checkbox" name="filter" value="c" id="c">
        <button type="submit" id="filtro">Filtra</button>
    </form>
    <div class="mg-2">
        <h2 th:if="${nomeBundle}" th:text="${nomeBundle}">Nome del bundle</h2>
        <p th:each="book : ${elenco}"><span th:text="${book}">Descrizione del libro</span></p>
    </div>
    <div th:insert="~{parts/footer :: footer}"></div>
    <script>
        document.addEventListener("DOMContentLoaded", () => {
            const checkboxes = document.querySelectorAll('input[type="checkbox"]');
            const btnSubmit = document.getElementById('filtro');
            let stringa = "";
            let url = location.href;
            
            btnSubmit.addEventListener("click",(evt)=>{
                evt.preventDefault();

                checkboxes.forEach(el => {
                    if (el.checked) stringa += el.value;
                });

                url += stringa.length ? `?filter=${stringa}` : '';
                location.replace(url);
            });
                
        
        });
    </script>
</body>
</html>