.container {
    width: 90%;
    margin: 0 auto;
    text-align: center;
}

ul { 
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

li {
    background-color: var(--clr-contrast);
    color: var(--clr-text);
    margin: 1em;
    padding: 0.6em 1.2em;
}