/* RESET */

*,::after,::before {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background-color: var(--clr-primary);
}

img {
    max-width: 100%;
}

input, textarea, button {
    font: inherit;
}

/* FINE RESET */

:root {
    --clr-bg1: black;
    --clr-bg2: #362e3c;
    --clr-primary: #249D7C;
    --clr-contrast: #7A2520;
    --clr-text: #AAB9B2;
    --ff: "Bangers", system-ui;
    --fstyle: normal;
    --fw: 400;
    --fs-text: 20px;
    --fs-header: 48px;
    --fs-action: 36px;
}

body {
    font-family: var(--ff);
    font-style: var(--fstyle);
    font-weight: var(--fw);
}

.success simple-snack-bar .mat-mdc-snack-bar-label{
    background-color: green;
    font-size: 24px;
    padding: 0.6em 1.2em;
    color: white;
    text-transform: uppercase;
    font-family: var(--ff);
}

.error simple-snack-bar .mat-mdc-snack-bar-label{
    background-color: red;
    font-size: 24px;
    padding: 0.6em 1.2em;
    color: white;
    text-transform: uppercase;
    font-family: var(--ff);
}
    